<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/articulos">Hack the blog</a>
        <form class="d-flex">
            <a href="/admin" class="btn btn-primary">Admin</a>
        </form>
    </div>
</nav>